@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --topBar-body-colour: #897D8C;
  --white-colour: #ffffff;



  --font-family: 'Poppins', sans-serif;
  --font-headline-5-reg-size: 20px; 
  --font-body-text-small: 16px; 
  --font-body-text-small-weight: 400; 
  --font-headline-5-reg-weight: 400; 
}





