@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --topBar-body-colour: #897D8C;
  --white-colour: #ffffff;
  --gray-colour: #959494;



  --font-family: 'Poppins', sans-serif;
  --font-headline-5-reg-size: 20px; 
  --font-body-text-small: 16px; 
  --font-body-text-small-weight: 400; 
  --font-headline-5-reg-weight: 400; 

  --font-semibold-weight: 500;
  --font-medium-weight: 400;
  --font-light-weight: 300; 
}





