
.topBarBody{
 background-color: var(--topBar-body-colour);
 width: 100%;
 height: 100px;
 display: flex;
 flex-direction: row;
 align-items: center;

 padding: 0 25px;
 position: fixed;
 z-index: 95;
}

.topBarBody > h1 {
    color: var(--white-colour);
    font-size: var(--font-headline-5-reg-size);
    font-weight: var(--font-headline-5-reg-weight);
    font-family: var(-font-family);
}



.items{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 32px;
    padding-right: 1em;
    gap: 15px;
    font-size: var(--font-headline-5-reg-size);
    font-weight: var(--font-headline-5-reg-weight);
    font-family: var(-font-family);
}

.slides{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 96;
    background-color: rgba(255, 255, 255, 0.9);
left: 0;
    top: 0px; 
}



.open__menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: rgba(255, 255, 255, 0.95);
z-index: 96;
height: 100vh;
    padding: 0.5em;
    animation: slide-in-from-left 0.5s forwards;
}
.menu__close {
   
    display: flex;
    flex-direction: row-reverse;
 font-size: 3em;
 padding-right: 0.5em;
}

.burger, .exit {
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    .topBarBody {
        display: none;
    }
  }


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .items{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 32px;
        padding-right: 1em;
        gap: 15px;
        font-size: 26px;
        font-weight: var(--font-headline-5-reg-weight);
        font-family: var(-font-family);
    }
    
  } 
