/* 
.body{
    width: 863px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.eventImage{
    border-radius: 10px;
}

.dates{
    display: flex;
    flex-direction: column;
    gap: 0
}

.day{
    font-family: var(--font-family);
    font-weight: var( --font-medium-weight);
    font-size: 35px;
}

.month{
    font-family: var(--font-family);
    font-weight: var( --font-headline-5-reg-weight);
    font-size: 20px;
}

.eventImage{
    border-radius: 10px;
}

.contents{
    display: flex;
    flex-direction: row;
    gap: 30px
}

.singer{
    font-family: var(--font-family);
    font-weight: var(--font-semibold-weight);
    font-size: 32px;
}

.placeAddress{
    font-family: var(--font-family);
    font-weight: var( --font-headline-5-reg-weight);
    color: var( --gray-colour);
    font-size: 18px;
}


.description{
    font-family: var(--font-family);
    font-weight: var( --font-headline-5-reg-weight);
    font-size: 14px;
}

.eventDetails{
    display: flex;
    flex-direction: column;
    gap: 15px
}

.viewButton{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    font-size: 18px;
    font-weight: var(--font-semibold-weight);
} */

.mainContainer {
display: flex;
flex-direction: column;

align-items: center;

}
.eventsBody{
    padding-top: 50px;
}
.searchOptions{
    display: flex;
    flex-direction: row;
    gap: 20px;

    flex-wrap: wrap;
}

.input1{
    width: 210px;
    height: 45px;
    border-radius: 10px;
    border: black 1px solid;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
}

.input2{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: black 1px solid;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
}

.button{
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: black 1px solid;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--font-semibold-weight);
    text-align: center;
}

.eventsSection{
    display: grid;
 padding-top: 1em;
padding-bottom: 1em;
gap: 0.5em;
}

.eventsSectionTexts{
    width: 100%;
    border-bottom: 0.2em solid rgba(0, 0, 0, .2);
    padding-bottom: 2em;
}

.eventsTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;

}

.eventsLocation{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #9E9C9C;

}

.eventContents{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
   
}

.eventsSectionButton{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: black solid 1px;
    margin-top: 20px;
    margin-left: 10px;
}



@media only screen and (min-width: 1200px) {
 
.eventsSection{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}
    
  }
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 1000px) and (max-width: 1200px) {
  

   
.eventsSection{
    display: grid;
grid-template-columns: 1fr 2fr 2fr;
}
    
  } 
  
  @media only screen and (min-width: 350px) and (max-width: 1000px){
    
    .events{
        display: grid;
    }

  } 
  

  @media only screen and  (max-width: 414px){
    
    .searchOptions {
        padding: 0.5em;
        display: flex;
    
        flex-direction: column;
        align-items: center;
    }
  } 

  
  