/* 
.body{
    width: 863px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.eventImage{
    border-radius: 10px;
}

.dates{
    display: flex;
    flex-direction: column;
    gap: 0
}

.day{
    font-family: var(--font-family);
    font-weight: var( --font-medium-weight);
    font-size: 35px;
}

.month{
    font-family: var(--font-family);
    font-weight: var( --font-headline-5-reg-weight);
    font-size: 20px;
}

.eventImage{
    border-radius: 10px;
}

.contents{
    display: flex;
    flex-direction: row;
    gap: 30px
}

.singer{
    font-family: var(--font-family);
    font-weight: var(--font-semibold-weight);
    font-size: 32px;
}

.placeAddress{
    font-family: var(--font-family);
    font-weight: var( --font-headline-5-reg-weight);
    color: var( --gray-colour);
    font-size: 18px;
}


.description{
    font-family: var(--font-family);
    font-weight: var( --font-headline-5-reg-weight);
    font-size: 14px;
}

.eventDetails{
    display: flex;
    flex-direction: column;
    gap: 15px
}

.viewButton{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    font-size: 18px;
    font-weight: var(--font-semibold-weight);
} */

.eventsBody{
    padding-top: 50px;
}
.searchOptions{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 25px;
}

.input1{
    width: 210px;
    height: 45px;
    border-radius: 10px;
    border: black 1px solid;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
}

.input2{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: black 1px solid;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
}

.button{
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: black 1px solid;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--font-semibold-weight);
    text-align: center;
}

.eventsSection{
    display: flex;
    flex-direction: row;
}

.eventsSectionTexts{
    width: 380px;
}

.eventsTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin-left: -20px;
}

.eventsLocation{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #9E9C9C;
    margin-top: -40px;
}

.eventContents{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: -20px;
}

.eventsSectionButton{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: black solid 1px;
    margin-top: 20px;
    margin-left: 10px;
}