/**containers*/
.main {
    width: 100%;
}


.artists_Section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.grid_container {
    display: grid;
   
}

.top_song_container {
  
}
/**end of containers*/

/***modifiied text****/
.title, .subtitle {
    text-align: center;
}

/***end of modifiied text****/

.artist_Image{
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
width: 150px;
}



.topSongs_container{
    padding-top: 2em;
}

.musicVideo_container{
    padding-top: 4em;
}

.top_song_container_img {
    
}

@media only screen and (min-width: 1200px) {
    .artist_Image{

    width: 250px;
    }
  }
